/**
 * Elements are global styles.  They are very generic, in fact, you
 * should think long and hard before adding anything to this stylesheet.
 * Do not add font sizes or colors in here...yes even if it's global
 * because the truth is it probably isn't as global as you think.
 */
* {
   box-sizing: inherit;
   -webkit-overflow-scrolling: touch;
   &:before, &:after {
      box-sizing: inherit;
   }
}

html {
   box-sizing: border-box;
   font: {
      family: get-font(primary-font);
      size: get-font(base-size);
      weight: get-font-weight(normal);
   }
   height: 100vh;
   letter-spacing: get-font(primary-letter-spacing);
}

:focus { outline: none; }

body {
   background: get-color(white);
   color: get-color(black);
   height: 100vh;
   margin: 0;
   min-width: get-breakpoint(puny);
   -webkit-font-smoothing: antialiased !important;
   -moz-osx-font-smoothing: grayscale !important;
}

img {
   height: auto;
   width: 100%;

   .fixed {
      width: auto;
   }
}

h1, h2, h3, h4, h5, h6 {
   font: {
      family: get-font(secondary-font);
      weight: get-font-weight(bold);
   }
   letter-spacing: get-font(secondary-letter-spacing);
   margin: 0;
   padding: 0;
}

b, strong {
   font-weight: get-font-weight(bold);
}

p, ul, ol {
   font-size: inherit;
}

a {
   color: inherit;
   font: {
      family: inherit;
      weight: inherit;
   }
   text-decoration: none;
}

p {
   margin: 0;
   padding: 0;
}

nav {
   ol, ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
         margin: 0;
         padding: 0;
      }
   }
}
