/**
 * Elements are global styles.  They are very generic, in fact, you
 * should think long and hard before adding anything to this stylesheet.
 * Do not add font sizes or colors in here...yes even if it's global
 * because the truth is it probably isn't as global as you think.
 */
html {
   box-sizing: border-box;
   font: {
      family: $font-copy;
      weight: $font-weight-normal;
   }
   letter-spacing: $letter-spacing;
   height: 100%;
}

* {
   &:before, &:after {
      box-sizing: inherit;
   }
}

body {
   height: 100%;
   margin: 0;
}

img {
   height: 100%;
   width: 100%;
}

h1, h2, h3, h4, h5, h6 {
   font: {
      family: $font-headlines;
      weight: $font-weight-bold;
   }
   margin: 0;
}
