@import 'utilities/grid-utils';

.grid {
    align-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;

    &.is {
        &-reversed { flex-direction: row-reverse; }
        &-column {
            flex-direction: column;
            margin-bottom: grid-gutter();
        }
        &-column-reversed {
            flex-direction: column-reverse;
            margin-bottom: grid-gutter();
        }

        &-aligned {
            &-left     { justify-content: flex-end;   }
            &-right    { justify-content: flex-start; }
            &-centered { justify-content: center;     }
        }

        &-valigned {
            &-top    { align-items: flex-start; }
            &-bottom { align-items: flex-end;   }
            &-middle { align-items: center;     }
            &-full   { align-items: stretch;    }
        }
    }

    &.can {
        &-wrap         { flex-wrap: wrap;         }
        &-wrap-reverse { flex-wrap: wrap-reverse; }
    }

    &.has {
        &-space {
            &-around  { justify-content: space-around;  }
            &-between { justify-content: space-between; }
        }

        &-vspace {
            &-around  { align-items: space-around;  }
            &-between { align-items: space-between; }
        }
    }

    &.blocks {
        &-are-on-top             { align-content: flex-start;    }
        &-are-on-bottom          { align-content: flex-end;      }
        &-are-in-middle          { align-content: center;        }
        &-are-full               { align-content: stretch;       }
        &-have-space-around      { align-content: space-around;  }
        &-have-space-between     { align-content: space-between; }
    }
}

.grid.debug {
    @include show-grid(susy-get(columns));

    .column {
        border: 1px solid rgba(red, 0.5) !important;
    }
}

.column {
    order: 0;
    padding: grid-gutter();
    margin: 0;
    flex: 0 0 100%;

    &.fills-leftover {
        margin: grid-gutter();
        flex: 2 1 auto;
    }

    &.is {
        &-first { order: -1; }
        &-last  { order: 1;  }
    }

    .has-no {
        &-padding { padding: 0; }
        &-gutter { margin: 0; }
        &-space {
            margin: 0;
            padding: 0;
        }
    }
}

@for $i from 1 through susy-get(columns) {
    @include filler($i, "xs");
}

@each $point in $breakpoints {
    $key: nth($point, 1);
    $val: nth($point, 2);

    @media($val) {
        @for $i from 1 through susy-get(columns) {
            @include filler($i, $key);
        }
    }
}



