/**
 * Fonts
 * ----------------------------------------------------------------------------
 * I'm a simple guy with simple needs, I don't like to mix a lot of different
 * fonts in my designs.  To keep it simple, I have two different font types:
 * copy and headlines.  They are exactly what they sound like.
 *
 * Make sure you also define "fallbacks" on the off chance Google fonts goes
 * down or your user is on a crappy connection.
 *
 */

$stack-settings: (
    primary-font:             #{"Patua One", Georgia, serif},
    secondary-font:           #{"Hind", "Helvetica Neue", sans-serif},
    primary-line-height:      1.3,
    primary-letter-spacing:   0,
    secondary-line-height:    1.5,
    secondary-letter-spacing: 0,
    base-size:                100%, // Whatever you want the base-size to be the font-size() mixin will calculate the correct REM size for you
);

$font-weights: (
    thin:         100,
    extra-light:  200,
    light:        300,
    normal:       400,
    medium:       500,
    semi-bold:    600,
    bold:         700,
    extra-bold:   800,
    ultra-bold:   900,
);

/**
 * Use this breakpoints for your media queries
 * the X-2's are the numbers directly between
 * the surrounding keys. So puny-2 is really
 * (tiny+puny)/2 => (480+320)/2 = 400px
 */
$breakpoints: (
    'puny':       320px,
    'puny-2':     400px,
    'tiny':       480px,
    'tiny-2':     560px,
    'bitty':      640px,
    'bitty-2':    704px,
    'small':      768px,
    'small-2':    784px,
    'moderate':   800px,
    'moderate-2': 890px,
    'bantam':     980px,
    'bantam-2':   1002px,
    'medium':     1024px,
    'medium-2':   1092px,
    'large':      1160px,
    'large-2':    1220px,
    'xlarge':     1280px,
    'xxlarge-2':  1308px,
    'xxlarge':    1366px,
    'xxlarge-2':  1403px,
    'xxxlarge':   1440px,
    'xxxlarge-2': 1520px,
    'jumbo':      1600px,
    'jumbo-2':    1760px,
    'hulking':    1920px,
    'hulking-2':  2400px,
    'titanic':    2880px
);

$colors: (
    black:     #000,
    white:     #fff,
    charcoal:  #444,
);

$sprites:        false;
$current-zindex: 100;

@include flexy-grid-settings();
