$font-logo: "Bitter", Georgia, serif;
$font-headlines: "Source Sans Pro", Verdana, sans-serif;
$font-copy: "Source Sans Pro", "Helvetica Neue", sans-serif;

$font-weight-bold: 700;
$font-weight-light: 300;
