.DS_Store
*.sublime-*
.sass-cache
/vendor
/node_modules
src/bower/
assets/js/
assets/css/
assets/fonts/
assets/images/
src/js/templates.tpl
src/sass/modules/_sprite.scss
src/sass/modules/_sprites.scss
