<<<<<<< HEAD
@function _getOpt($key, $overrides: ()) {
   @if (map-has-key($overrides, $key)) {
      @return map-get($overrides, $key);
   }

   @return map-get($_fOpts, $key);
}

@mixin flex-init($options: ()) {
   $__flexDefaults__: (
      wrap:            nowrap,
      columns:         12,
      direction:       row,
      align-items:     flex-start,
      gutter-type:     split,
      gutter-width:    0.25,
      gutter-position: none,
      align-content:   flex-start,
      justify-content: flex-start,
      order:           0,
      flex-grow:       0,
      flex-shrink:     0,
      align-self:      stretch,
      position:        first,
   );
   $_fOpts: map-merge($__flexDefaults__, $options) !global;
   $singleCellWidth: 100 / _getOpt(columns) !global;
   $cellGutter:      _getOpt(gutter-width) * $singleCellWidth !global;
}

@function percent($x) {
   @return ($x * 1%);
}

@function _get-width($gutterOverride: false) {
   @if (_getOpt(gutter-type) != none and $gutterOverride == false) {
      @return percent($singleCellWidth - $cellGutter);
   }

   @return $singleCellWidth;
}

@mixin flex-wrapper($overrides: ()) {
   align-content:   _getOpt(align-content, $overrides);
   align-items:     _getOpt(align-items, $overrides);
   display:         flex;
   flex-direction:  _getOpt(direction, $overrides);
   flex-wrap:       _getOpt(wrap, $overrides);
   justify-content: _getOpt(justify-content, $overrides);
}

// TODO: this looks stupid, but it works, need to refactor...
@mixin _gutter-setup($overrides: ()) {
      @if (_getOpt(gutter-type, $overrides) == split) {
         @if (_getOpt(gutter-position, $overrides) == full) {
            margin:  percent($cellGutter/2);
            padding: percent($cellGutter/2);
         } @else if (_getOpt(gutter-position, $overrides) == top or _getOpt(gutter-position, $overrides) == bottom) {
            margin-#{_getOpt(gutter-position, $overrides)}:  percent($cellGutter/2);
            padding-#{_getOpt(gutter-position, $overrides)}:  percent($cellGutter/2);
            margin-left:   percent($cellGutter/2);
            margin-right:  percent($cellGutter/2);
            padding-left:  percent($cellGutter/2);
            padding-right: percent($cellGutter/2);
         } @else {
            margin-left:   percent($cellGutter/2);
            margin-right:  percent($cellGutter/2);
            padding-left:  percent($cellGutter/2);
            padding-right: percent($cellGutter/2);
         }

      }

      @if (_getOpt(gutter-override, $overrides) == inside) {
         @if (_getOpt(wrap-type, $overrides) == full) {
            padding: percent($cellGutter);
         } @else if (_getOpt(wrap-type, $overrides) == top) {
            padding-top: percent($cellGutter);
            padding-left:  percent($cellGutter);
            padding-right: percent($cellGutter);
         } @else if (_getOpt(wrap-type, $overrides) == bottom) {
            padding-bottom: percent($cellGutter);
            padding-left:  percent($cellGutter);
            padding-right: percent($cellGutter);
         } @else {
            padding-left:  percent($cellGutter);
            padding-right: percent($cellGutter);
         }
      }

      @if (_getOpt(gutter-override, $overrides) == outside) {
         @if (_getOpt(wrap-type, $overrides) == full) {
            margin: percent($cellGutter);
         } @else if (_getOpt(wrap-type, $overrides) == top) {
            margin-top: percent($cellGutter);
            margin-left:  percent($cellGutter);
            margin-right: percent($cellGutter);
         } @else if (_getOpt(wrap-type, $overrides) == bottom) {
            margin-bottom: percent($cellGutter);
            margin-left:  percent($cellGutter);
            margin-right: percent($cellGutter);
         } @else {
            margin-left:  percent($cellGutter);
            margin-right: percent($cellGutter);
         }
      }
}

@mixin flex-cell($cols, $overrides: ()) {
   @include _gutter-setup($overrides);

   align-self: _getOpt(align-self, $overrides);
   flex:       _getOpt(flex-grow, $overrides) _getOpt(flex-shrink, $overrides) (_get-width() * $cols);
   @if (_getOpt(position, $overrides) == last) {
      margin-left: auto;
   }
   min-height: 100%;
   order:      _getOpt(order, $overrides);
}

@mixin flex-push($cols) {
   $gutter: $cellGutter;
   @if (_getOpt(gutter-type) == split) {
      $gutter: $cellGutter/2;
   }
   margin-left: percent((_get-width(true) * $cols) + $gutter);
}

@mixin flex-pull($cols) {
   $gutter: $cellGutter;
   @if (_getOpt(gutter-type) == split) {
      $gutter: $cellGutter/2;
   }

   margin-right: percent(_get-width(true) * $cols);
}

@mixin flex-container2() {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   align-content: center;
}

@mixin flex-cell($cols) {
   display: flex;
   order: 1;
   flex: 0 0 100%;
   align-self: auto;
}
