@function _getOpt($key, $overrides: ()) {
   @if (map-has-key($overrides, $key)) {
      @return map-get($overrides, $key);
   }

   @return map-get($_fOpts, $key);
}

@mixin flex-init($options: ()) {
   $__flexDefaults__: (
      wrap:            nowrap,
      columns:         12,
      direction:       row,
      align-items:     flex-start,
      gutter-type:     split,
      gutter-width:    0.25,
      gutter-position: none,
      align-content:   flex-start,
      justify-content: flex-start,
      order:           0,
      flex-grow:       0,
      flex-shrink:     0,
      align-self:      stretch,
      position:        first,
   );
   $_fOpts: map-merge($__flexDefaults__, $options) !global;
   $singleCellWidth: 100 / _getOpt(columns) !global;
   $cellGutter:      _getOpt(gutter-width) * $singleCellWidth !global;
}

@function percent($x) {
   @return ($x * 1%);
}

@function _get-width($gutterOverride: false) {
   @if (_getOpt(gutter-type) != none and $gutterOverride == false) {
      @return percent($singleCellWidth - $cellGutter);
   }

   @return $singleCellWidth;
}

@mixin _gutter-margins($gutter, $position) {
   @include _gutter-type(margin, $position, $gutter);
}

@mixin _gutter-paddings($gutter, $position) {
   @include _gutter-type(padding, $position, $gutter);
}

@mixin _gutter-type($type, $position, $gutter) {
   @if ($position == full) {
      #{$type}: percent($gutter);
   }
   @if ($position == top or $position == bottom) {
      #{$type}-#{_getOpt(gutter-position, $overrides)}:  percent($gutter);
   }
   #{$type}-left:  percent($gutter);
   #{$type}-right: percent($gutter);
}

@mixin _gutter-setup($overrides: ()) {
   @if (_getOpt(gutter-type, $overrides) == split) {
      @include _gutter-margins($cellGutter/2, _getOpt(gutter-position, $overrides));
      @include _gutter-paddings($cellGutter/2, _getOpt(gutter-position, $overrides));
   } @else if (_getOpt(gutter-override, $overrides) == inside) {
      @include _gutter-paddings($cellGutter, _getOpt(gutter-position, $overrides));
   } @else if (_getOpt(gutter-override, $overrides) == outside) {
      @include _gutter-margins($cellGutter, _getOpt(gutter-position, $overrides));
   }
}

@function _single-gutter-size() {
   @if (_getOpt(gutter-type) == split) {
      @return $cellGutter/2;
   }

   @return $cellGutter;
}
