@import 'flex-helpers';

@mixin flex-wrapper($overrides: ()) {
   align-content:   _getOpt(align-content, $overrides);
   align-items:     _getOpt(align-items, $overrides);
   display:         flex;
   flex-direction:  _getOpt(direction, $overrides);
   flex-wrap:       _getOpt(wrap, $overrides);
   justify-content: _getOpt(justify-content, $overrides);
}

@mixin flex-cell($cols, $overrides: ()) {
   @include _gutter-setup($overrides);

   align-self: _getOpt(align-self, $overrides);
   flex:       _getOpt(flex-grow, $overrides) _getOpt(flex-shrink, $overrides) (_get-width() * $cols);
   @if (_getOpt(position, $overrides) == last) {
      margin-left: auto;
   }
   min-height: 100%;
   order:      _getOpt(order, $overrides);
}

@mixin flex-push($cols) {
   margin-left: percent((_get-width(true) * $cols) + _single-gutter-size());
}

@mixin flex-pull($cols) {
   margin-right: percent((_get-width(true) * $cols) + _single-gutter-size());
}
