/// Correctly convert your pixel fonts into REMS.
/// This uses your base font size (set in _variables.scss) to correctly
/// calculate the REM size your font needs to be and this will also
/// give you the correct pixel based fallback for super-old
/// browsers
/// @param String|Number $font-size:   The pixel based font size you'd like an element to be
@mixin font-size($font-size) {
   $base-size: get-value(get-stack(base-size) / 100);
   $base-px-size: 16 * $base-size; // 16 is a constant because 16px is the base sie of all browser text, everything scales from there

   font-size: unquote($font-size);
   font-size: unquote((get-value($font-size) / $base-px-size) + rem);
}

 /// Bringing in fonts that you need to load from your own server isn't difficult
 /// but it has a bit of tedium to it. If you need to bring in a bunch of fonts
 /// then it's easier to use this mixin.
 /// @param  String $font-family                      Name of the font
 /// @param  String $font-file-name:    false         If the name of the font differs from the name of the familiy
 /// @param  String|Number $weight:     normal        Font weight
 /// @param  String $style:             normal        Font style
 /// @param  String $otf:               false         If you aren't using a TTF, but OTF set to true
@mixin font-face($font-family, $font-file-name: false, $weight: normal, $style: normal, $otf: false) {
   @font-face {
      $font: $font-family;
      $ottf: ttf;
      $ottf-format: truetype;

      @if $font-file-name {
         $font: $font-file-name;
      }

      @if $otf {
         $ottf: otf;
         $ottf-format: OpenType;
      }

      font: {
         family: $font-family;
         style: $style;
         weight: $weight;
      }

      src: font-url('#{$font}.eot');
      src: font-url('#{$font}.eot?#iefix')          format('embedded-opentype'),
      font-url('#{$font}.woff')                     format('woff'),
      font-url('#{$font}.#{$ottf}')                 format('#{$ottf-format}'),
      font-url('#{$font}.svg##{$font-family}')      format('svg');
   }
}
