@function grid-gutter() {
    @if (gutter() == null) {
        @return 0;
    }

    @return gutter();
}

@mixin filler($i, $point) {
    .fills-#{$point}-#{$i} {
        flex-basis: span($i);
        max-width: span($i);
    }

    .is-column > .fills-#{$point}-#{$i},
    .is-column-reverse > .fills-#{$point}-#{$i} {
        padding: grid-gutter();
        flex-basis: span($i);
    }

    .over-#{$point}-#{$i} {
        margin-left: (grid-gutter() + span($i)) !important;
    }
}
