@mixin first-elem() {
   &:first-of-type {
      @content
   }
}

@mixin last-elem() {
   &:last-of-type {
      @content
   }
}

@mixin clearfix() {
   &:after {
      clear: both;
      content: '';
      display: table;
   }
}
