   $bpmsprites: (
         heisenberg-logo: (
            offset-x: 0px,
            offset-y: 0px,
            width:    1647px,
            height:   486px,
            image:    '../images/sprite.png'
         ),
   );

