$svgmap: (
      sprite: (width: 522px, height: 298px, svgPath: '../images/svg-sprite.svg'),
    shot-svg-1: (width: 271px, height: 149px, backgroundX: 0px, backgroundY: 0px),
    shot-svg-2: (width: 251px, height: 149px, backgroundX: -271px, backgroundY: -149px),
);
