   $bpmsprites: (
         shot-1: (
            offset-x: -1816px,
            offset-y: -1450px,
            width:    260px,
            height:   413px,
            image:    '../images/sprite.png'
         ),
         shot-2: (
            offset-x: 0px,
            offset-y: -1450px,
            width:    958px,
            height:   624px,
            image:    '../images/sprite.png'
         ),
         shot-3: (
            offset-x: -958px,
            offset-y: -1450px,
            width:    858px,
            height:   624px,
            image:    '../images/sprite.png'
         ),
         shot-4: (
            offset-x: 0px,
            offset-y: 0px,
            width:    2794px,
            height:   1450px,
            image:    '../images/sprite.png'
         ),
   );

