/// An example using BEM
%person-mouth {
   margin: 10px 15px;
   width: 85%;
}

.person { // BLOCK
   padding: 10px 0;
   width: 100%;

   &__mouth { // ELEMENT .person__mouth
      @extend %person-mouth;
   }

   /// Yes, this has to be separate.
   &--round {
      border-radius: 50%;
      padding: 20px;
   }

/// Linters are going go get this wrong, you can't merge &--round and &--round &
/// because if you do this: &--round { & { } } that inner selector will
/// now be "round" instead of "person"
   &--round & {
      &__mouth {
         @extend %person-mouth; // IMO this is how you use @extend properly
         color: get-color(charcoal);
      }
   }

   /// if the above is a bit too much, you can always use the mixins in the
   /// _bem.scss file:
   @include e('arms') { // ELEMENT
      width: 100%;
   }

   @include m('muscular') { // MODIFIER
      width: 75%;
   }

   @include sm('muscular') { // SUB-MODIFIER -- helps when you're trying to do this: .person--muscular .person__arms { }
      @include e('arms') {
         width: 20%;
      }
   }
}
